.u-section-1 {
  min-height: 713px;
}

.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-image-1 {
  width: 445px;
  height: 524px;
  margin: 117px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 698px;
  margin: -568px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-1 .u-line-1 {
  width: 140px;
  height: 9px;
  transform-origin: left center 0;
  margin: 25px auto 0 20px;
}

.u-section-1 .u-shape-1 {
  width: 394px;
  height: 114px;
  margin: 59px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -173px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-1 .u-text-2 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 260px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 391px;
    height: 523px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 576px;
    margin-top: -452px;
  }

  .u-section-1 .u-line-1 {
    width: 116px;
    margin-left: 16px;
  }

  .u-section-1 .u-shape-1 {
    width: 325px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    width: 311px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 441px;
  }

  .u-section-1 .u-line-1 {
    width: 89px;
    margin-left: 13px;
  }

  .u-section-1 .u-shape-1 {
    width: 249px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 473px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 413px;
  }

  .u-section-1 .u-line-1 {
    width: 83px;
    margin-left: 9px;
  }

  .u-section-1 .u-shape-1 {
    width: 233px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 402px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 413px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-image-1 {
    width: 256px;
    height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 70px;
    margin-left: 6px;
  }

  .u-section-1 .u-shape-1 {
    width: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 253px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 510px;
}

.u-section-2 .u-group-1 {
  min-height: 423px;
  width: 1030px;
  margin: 71px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-2 .u-image-1 {
  width: 433px;
  height: 330px;
  margin: -62px -45px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -253px 436px 0 0;
}

.u-section-2 .u-line-1 {
  height: 200px;
  transform-origin: center bottom 0px;
  margin: -280px 1136px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 374px;
    width: 849px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -136px;
    margin-right: -60px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -184px;
    margin-right: 346px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 936px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 400px;
    width: 651px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -110px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -210px;
    margin-right: 186px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 716px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 451px;
    width: 488px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -59px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -261px;
    margin-right: 46px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 536px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 538px;
    width: 292px;
    margin-top: 65px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 244px;
    margin-top: 196px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -373px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 24px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 601px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 31px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 344px;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-3 .u-image-1 {
  width: 124px;
  height: 107px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 14px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  width: 105px;
  height: 101px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 344px;
  background-image: none;
}

.u-section-3 .u-image-3 {
  width: 111px;
  height: 94px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 25px 30px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-image-4 {
  width: 106px;
  height: 106px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 305px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 305px;
  background-image: none;
}

.u-section-3 .u-image-5 {
  width: 127px;
  height: 94px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 251px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 432px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 272px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}